#title {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
}

#buttons_cont {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

